<div class="d-flex align-items-center justify-content-center">
    <h1>Welcome page</h1>
</div>

<%= form_with model: @user , url:users_path do |form|%>
<div class="mb-3">
    <%= form.label :email %>
    <%= form.text_field :email , class:"form_control" %>
</div>

<div class="mb-3">
    <%= form.label :user_type %>
    <%= form.text_field :type , class:"form_control" %>
</div>

<div class="mb-3">
    <%= form.label :password%>
    <%= form.password_field :password , class:"form_control"%>
</div>

<div class="mb-3">
    <%= form.label :password_confirmation%>
    <%= form.password_field :password_confirmation , class:"form_control"%>
</div>

<div class="mb-3">
    <%= form.submit%>
</div>

<%end %>

<button id="testButton" onclick=doClick()>Click me</button>

<!--Table-->
<table id='userTable' class="table table-hover ">
            <thead>
                <th style="text-align:center;" class="col-2">Email</th>
                <th style="text-align:center;" class="col-6">User user_type</th>
            </thead>

            <tbody id="tableBody"></tbody>

        </table>

<!--Import javascript-->
<%=javascript_include_tag "script"%>